<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.niedermann.owncloud.notes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="it.niedermann.owncloud.notes.util.Notes"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="it.niedermann.owncloud.notes.android.activity.SplashscreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name="it.niedermann.owncloud.notes.android.activity.NotesListViewActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value="it.niedermann.owncloud.notes.android.activity.NotesListViewActivity" />
        </activity>

        <activity
            android:name="it.niedermann.owncloud.notes.android.activity.SettingsActivity"
            android:label="@string/settings_server_settings"
            android:parentActivityName="it.niedermann.owncloud.notes.android.activity.PreferencesActivity"
            android:windowSoftInputMode="stateVisible" />

        <activity
            android:name="it.niedermann.owncloud.notes.android.activity.PreferencesActivity"
            android:label="@string/action_settings"
            android:parentActivityName="it.niedermann.owncloud.notes.android.activity.NotesListViewActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/Preferences"
            />

        <activity
            android:name="it.niedermann.owncloud.notes.android.activity.EditNoteActivity"
            android:label="@string/simple_edit"
            android:parentActivityName="it.niedermann.owncloud.notes.android.activity.NotesListViewActivity"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTask">
            <intent-filter android:label="@string/action_create">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <!-- Voice command "note to self" in google search -->
            <intent-filter android:label="@string/action_create">
                <action android:name="com.google.android.gm.action.AUTO_SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
        </activity>

        <activity
            android:name="it.niedermann.owncloud.notes.android.activity.AboutActivity"
            android:label="@string/simple_about"
            android:parentActivityName="it.niedermann.owncloud.notes.android.activity.NotesListViewActivity" />

        <activity
            android:name=".android.activity.SelectSingleNoteActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <activity android:name=".android.appwidget.NoteListWidgetConfiguration">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".android.appwidget.CreateNoteWidget"
            android:label="@string/widget_create_note">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/create_note_widget_provider" />
        </receiver>

        <receiver
            android:name="it.niedermann.owncloud.notes.android.appwidget.SingleNoteWidget"
            android:label="@string/widget_single_note_title">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/single_note_widget_provider_info" />
        </receiver>

        <receiver
            android:name="it.niedermann.owncloud.notes.android.appwidget.NoteListWidget"
            android:label="@string/widget_note_list_title">

            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/note_list_widget_provider_info" />
        </receiver>

        <service
            android:name=".android.appwidget.SingleNoteWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service
            android:name=".android.appwidget.NoteListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />

        <service
            android:name="it.niedermann.owncloud.notes.android.quicksettings.NewNoteTileService"
            android:icon="@drawable/ic_quicksettings_new"
            android:label="@string/action_create"
            android:description="@string/action_create"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

    </application>
</manifest>
